.message {
    display: flex;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.stylesDialog {
    position: relative;
    display: grid;
    justify-content: space-between;
    width: 200px;
    height: 100px;
    background-color: cornflowerblue;
    margin-top: 20px;
    border-radius: 10px;
}

.stylesDialog:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -40px;
    height: 20px;
    width: 40px;
    border-bottom-right-radius: 50%;
    box-shadow: 20px 0 0 0 cornflowerblue;
}

.MessageTime {
    display: flex;
}

.time {
    padding-left: 60px;
}

.avatarBlock {
    margin: 65px 10px 0 0;
}