.message {
display: flex;

}

.avatar{
    width: 50px;
    height: 50px;
}

.messageData{
    display: grid;
    justify-content: space-between;
    width: 200px;
    height: 100px;
    background-color: cornflowerblue;
    margin-top: 20px;
    border-radius: 10px;
}
.MessageTime{
    display: flex;
}
.time{
    padding-left: 60px;
}

.avatarBlock{
    margin-top: 65px;
}